<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3 style="padding-bottom: 10px">Sign Up</h3>

      <div class="formGroup">
        <input matTooltip="6 or more letters or numbers" 
          (focusout)="fireVerifyUsername(userName.value)"
          type="text" class="formControl" placeholder="Display Name" #userName required>
      </div>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPwd required>
      </div>

      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Sign Up" (click)="verifySignUp(userName.value, userEmail.value, userPwd.value)">
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>

      <!-- Continue with Google -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authenticationService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Continue with Google
        </button>
      </div>
      
    </div>

    <div class="redirectToLogin">
      <span>Already have an account? <span class="redirect" routerLink="/login">Log In</span></span>
    </div>
  </div>

</div>