<div class="collapse bg-light d-lg-none" id="navbarHeader">
  <div class="container">
    <div class="row">

      <div class="col-lg col-md-4">
        <button mat-button [matMenuTriggerFor]="beerMenu">Beer</button>
        <mat-menu #beerMenu="matMenu">
          <a routerLink="/beer"><button mat-menu-item>List</button></a>
          <a routerLink="/beer/add"><button mat-menu-item>Add</button></a>
        </mat-menu>
      </div>
      <div class="col-lg col-md-4">
      <button mat-button [matMenuTriggerFor]="breweryMenu">Brewery</button>
      <mat-menu #breweryMenu="matMenu">
        <a routerLink="/brewery"><button mat-menu-item>List</button></a>
        <a routerLink="/brewery/add"><button mat-menu-item>Add</button></a>
      </mat-menu>
      </div>
      <div class="col-lg col-md-4">
        <button mat-button [matMenuTriggerFor]="commentMenu">Comments</button>
        <mat-menu #commentMenu="matMenu">
          <a routerLink="/comments"><button mat-menu-item>List</button></a>
          <a routerLink="/comments/add"><button mat-menu-item>Add</button></a>
        </mat-menu>
      </div>
      <div class="col-lg col-md-4">
        <a routerLink="/swapzone"><button mat-button>Swap Zone</button></a>
      </div>
      <div class="col-lg col-md-4">
        <a routerLink="/search/toppling/1"><button mat-button>Search</button></a>
      </div>
      <div class="col-lg col-md-4">
        <a routerLink="/login"><button mat-button>Login</button></a>
      </div>

    </div>
  </div>
</div>


<mat-toolbar color="dark">
  
  <a routerLink="/"><span>Swap the Hop</span></a>

  <form *ngIf="nav.visible" [formGroup]="navSearchForm" (ngSubmit)="onSubmit()" class="navbar-search-wrapper">
    <div class="form-group d-none d-md-block" style="margin-bottom: 0px">
      <i class="fa fa-search" style="bottom:15px; margin-right: 8px; cursor: pointer;" (click)="onSubmit()"></i>
      <mat-form-field class="navbar-search">
          <input matInput formControlName="searchterm" name="searchterm" id="searchterm"
            placeholder="Find beer">
      </mat-form-field>
    </div>
  </form>

  <span class="fill-remaining-space"></span>

  <button mat-icon-button class="navbar-toggler collapsed pull-right d-lg-none" 
    type="button" data-toggle="collapse" data-target="#navbarHeader"
    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
    <mat-icon>menu</mat-icon>
  </button>

  <span style="text-align: right">

    <div class="d-none d-lg-block">

      <button mat-button [matMenuTriggerFor]="beerMenu">Beer</button>
      <mat-menu #beerMenu="matMenu">
        <a routerLink="/beer"><button mat-menu-item>List</button></a>
        <a routerLink="/beer/add"><button mat-menu-item>Add</button></a>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="breweryMenu">Brewery</button>
      <mat-menu #breweryMenu="matMenu">
        <a routerLink="/brewery"><button mat-menu-item>List</button></a>
        <a routerLink="/brewery/add"><button mat-menu-item>Add</button></a>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="commentMenu">Comments</button>
      <mat-menu #commentMenu="matMenu">
        <a routerLink="/comments"><button mat-menu-item>List</button></a>
        <a routerLink="/comments/add"><button mat-menu-item>Add</button></a>
      </mat-menu>

      <a routerLink="/swapzone"><button mat-button>Swap Zone</button></a>
      <a routerLink="/search/toppling/1"><button mat-button>Search</button></a>
      <a routerLink="/login"><button mat-button>Login</button></a>
    </div>

  </span>

</mat-toolbar>