<mat-toolbar color="primary">
  
  <a routerLink="/"><span>Swap the Hop</span></a>

  <form [formGroup]="navSearchForm" (ngSubmit)="onSubmit()" class="navbar-search-wrapper">
    <div class="form-group" style="margin-bottom: 0px">
      <mat-form-field class="navbar-search">
          <input matInput formControlName="searchterm" name="searchterm" id="searchterm"
            placeholder="Find beer">
      </mat-form-field>
    </div>
  </form>

  <span style="text-align: right">
      <button mat-button [matMenuTriggerFor]="userMenu">Users</button>
      <mat-menu #userMenu="matMenu">
        <a routerLink="/list-user"><button mat-menu-item>List</button></a>
        <a routerLink="/add-user"><button mat-menu-item>Add</button></a>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="beerMenu">Beer</button>
      <mat-menu #beerMenu="matMenu">
        <a routerLink="/beer"><button mat-menu-item>List</button></a>
        <a routerLink="/beer/add"><button mat-menu-item>Add</button></a>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="breweryMenu">Brewery</button>
      <mat-menu #breweryMenu="matMenu">
        <a routerLink="/brewery"><button mat-menu-item>List</button></a>
        <a routerLink="/brewery/add"><button mat-menu-item>Add</button></a>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="commentMenu">Comments</button>
      <mat-menu #commentMenu="matMenu">
        <a routerLink="/comments"><button mat-menu-item>List</button></a>
        <a routerLink="/comments/add"><button mat-menu-item>Add</button></a>
      </mat-menu>

      <a routerLink="/login"><button mat-button>Login</button></a>
  </span>

</mat-toolbar>