<div class="collapse bg-light d-lg-none" id="navbarHeader">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg col-md-4 col-sm-6  center-text">
        <a routerLink="/swapzone"><button mat-button>Swap Zone</button></a>
      </div>
      <div class="col-lg col-md-4 col-sm-6  center-text">
        <a routerLink="/search/toppling/1"><button mat-button>Search</button></a>
      </div>
      <div *ngIf="!nav.loggedIn; else isLoggedInMobile" class="col-lg col-md-4 col-sm-6  center-text">
        <a routerLink="/login"><button mat-button>Login</button></a>
      </div>
      <ng-template #isLoggedInMobile>
        <div class="col-lg col-md-4 col-sm-6  center-text">
          <a routerLink="/dashboard"><button mat-button>Profile</button></a>
        </div>
      </ng-template>

    </div>
  </div>
</div>


<mat-toolbar class="nav-shadow" color="dark">

  <a routerLink="/"><span>Swap the Hop</span></a>

  <form *ngIf="nav.visible" [formGroup]="navSearchForm" (ngSubmit)="onSubmit()" class="navbar-search-wrapper">
    <div class="form-group d-none d-md-block" style="margin-bottom: 0px">
      <i class="fa fa-search" style="bottom:15px; margin-right: 8px; cursor: pointer;" (click)="onSubmit()"></i>
      <mat-form-field class="navbar-search">
        <input matInput formControlName="searchterm" name="searchterm" id="searchterm" placeholder="Find beer">
      </mat-form-field>
    </div>
  </form>

  <span class="fill-remaining-space"></span>

  <button mat-icon-button class="navbar-toggler collapsed pull-right d-lg-none" type="button" data-toggle="collapse"
    data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
    <mat-icon>menu</mat-icon>
  </button>

  <span style="text-align: right">

    <div class="d-none d-lg-block">

      <ng-container *ngIf="!nav.loggedIn; else isLoggedIn">
        <a routerLink="/swapzone"><button mat-button>Swap Zone</button></a>
        <a routerLink="/search/toppling/1"><button mat-button>Search</button></a>
        <a routerLink="/login"><button mat-button>Login</button></a>
      </ng-container>
      <ng-template #isLoggedIn *ngIf="!nav.unreadMessages; else unreadMessages">
        <a routerLink="/swapzone"><button mat-button>Swap Zone</button></a>
        <a routerLink="/search/toppling/1"><button mat-button>Search</button></a>
        <a routerLink="/dashboard"><button mat-button>Profile</button></a>
      </ng-template>
      <ng-template #unreadMessages>
        <a routerLink="/swapzone"><button mat-button>Swap Zone</button></a>
        <a routerLink="/search/toppling/1"><button mat-button>Search</button></a>

        <button class="profile-menu" style="padding: 0px 5px; margin-right: 5px;" [matMenuTriggerFor]="profileMenu"
          mat-button color="primary" matBadge="{{nav.unreadMessages}}" matBadgePosition="after" matBadgeColor="accent">
          <img style="height: 32px" src="{{nav.imageUrl}}">
        </button>
        <mat-menu #profileMenu="matMenu">
            <a routerLink="/dashboard"><button mat-menu-item>Profile</button></a>
            <a routerLink="/dashboard"><button mat-menu-item>Messages</button></a>
        </mat-menu>
        
      </ng-template>
    </div>

  </span>

</mat-toolbar>