.beer-pointer {
  cursor: pointer;
}

.fake-a {
  color: #007BFF !important;
  font-weight: 600;
}

.fake-a:hover {
  color: #0056b3 !important;
}

.bold {
  font-weight: 600
}

input.mat-input-element {
  margin-bottom: 0 !important;
}

.main-search-wrapper {
  font-size: 1.1rem;
}

.navbar-search {
  text-align: center;
  width: 100%;
}

.panel .title {
  font-family: 'Copystruct', Fallback, sans-serif !important;
}

.panel .h4 {
  font-size: 1.25rem;
}

.panel .h6 {
  margin-top: 5px;
  font-size: 0.85rem;
}

.panel-shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 4px;
}

.panel-white {
  border: 1px solid #dddddd;
}

.panel-white .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}

.panel-white:hover {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  background-color: whitesmoke
}

.panel-white .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  min-height: 95px;
  max-height: 120px;
  padding: 20px 15px;
}

.avatar {
  width: 60px !important;
  height: 60px !important;
  box-shadow: 0;
  transition: box-shadow 1s;
  border: 1px solid #eee;
}

.avatar:hover {
  cursor: pointer;
  box-shadow: 0 0 3px #515151;
}

.profile-images .avatar {
  margin-bottom: 15px;
  display: block;
}

.post .meta {
  margin-left: 8px;
  margin-top: 8px;
  width: 70%;
  position: absolute;
}

.post .post-heading .meta .title {
  margin-bottom: 0;
}

.post .post-heading .meta .title a {
  color: black;
}

.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}

.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}

.post .post-image-container {
  width: 135px;
  height: 135px;
  margin-right: 5px;
}

.post .image {
  display: inline-block;
  width: auto;
  max-width: 135px;
  max-height: 135px;
  height: 100%;
  margin: 0 auto;
}

.post .post-description {
  padding: 15px;
}

.post .post-description p {
  font-size: 14px;
}

.post .post-description .stats {
  text-align: right;
  margin-top: 20px;
}

.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
  border-radius: 15%;
}

.post .post-description .stats .stat-item .icon {
  margin: 0 auto;
}

.post .post-description .stats .stat-item .icon-no-likes {
  margin-right: 0px;
}

.post .post-description .stats .stat-item .icon-with-like {
  margin-right: 4px;
}

.post .post-description .stats .stat-item .icon-with-more-likes {
  margin-right: 8px;
}

.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}

.post .post-footer .input-group-addon a {
  color: #454545;
}

.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}

.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}

.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}

.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}

.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-right: 10px;
}

.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  display: inline;
}

.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}

.post .post-footer .comments-list .comment>.comments-list {
  margin-left: 50px;
}

.stats .liked-this {
  float: left;
  margin-top: 4px;
}

/* Ripple effect */
.tan-ripple {
  background-position: center;
  transition: background 0.5s;
}

.tan-ripple:hover {
  background: rgb(240, 220, 200) radial-gradient(circle, transparent 1%, rgb(240, 220, 200) 1%) center/15000%;
}

.tan-ripple:active {
  background-color: burlywood;
  background-size: 100%;
  transition: background 0.1s;
}