<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-md-block sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active">
              <i class="fas fa-user"></i>User Profile
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">User Profile</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <img class="align-self-start mr-5 img-thumbnail avatar"
                src="{{(user.photoURL) ? user.photoURL : 'http://bootdey.com/img/Content/user_1.jpg'}}"
                alt="{{user.displayName}}">
              <div class="media-body">
                <h1>Cheers{{(user.displayName) ? ' ' + user.displayName : '!'}}</h1>
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="want">
          <div class="pt-1 pb-1 mb-1 border-bottom">
            <h1 class="h2">Wants</h1>
          </div>
          <div *ngFor="let item of want">
            <div class="col-sm-12 col-md-6">
              <div class="media">
                <img class="align-self-start mr-5 img-thumbnail avatar" src="{{item.beer_label}}">
                <div class="media-body">
                  <p>Beer: <strong>{{item.beer_name}}</strong></p>
                  <p>Style: <strong>{{item.beer_style}}</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="has">
          <div class="pt-1 pb-1 mb-1 border-bottom">
            <h1 class="h2">Has</h1>
          </div>
          <div *ngFor="let item of has">
            <div class="col-sm-12 col-md-6">
              <div class="media">
                <img class="align-self-start mr-5 img-thumbnail avatar" src="{{item.beer_label}}">
                <div class="media-body">
                  <p>Beer: <strong>{{item.beer_name}}</strong></p>
                  <p>Style: <strong>{{item.beer_style}}</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="canget">
          <div class="pt-1 pb-1 mb-1 border-bottom">
            <h1 class="h2">Can Get</h1>
          </div>
          <div *ngFor="let item of canget">
            <div class="col-sm-12 col-md-6">
              <div class="media">
                <img class="align-self-start mr-5 img-thumbnail avatar" src="{{item.beer_label}}">
                <div class="media-body">
                  <p>Beer: <strong>{{item.beer_name}}</strong></p>
                  <p>Style: <strong>{{item.beer_style}}</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>

  </div>
</div>
