<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-md-block sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active">
              <i class="fas fa-user"></i>User Profile
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">User Profile</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <img class="align-self-start mr-5 img-thumbnail avatar" style="height: 100px; width: 100px"
                src="{{(user.photoURL) ? user.photoURL : 'http://bootdey.com/img/Content/user_1.jpg'}}"
                alt="{{user.displayName}}">
              <div class="media-body">
                <h2>Cheers{{(user.displayName) ? ' ' + user.displayName : '!'}}</h2>
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="want">
          <div class="pt-2 mb-1 border-bottom">
            <h1 class="h2">Wants</h1>
          </div>
          <div class="row">
            <div *ngFor="let item of want" class="media-width">
              <div class="col-md-12">
                <div class="media" style="margin: 10px !important">
                  <img class="align-self-start mr-3 img-thumbnail avatar beer-label" src="{{item.beer_label}}">
                  <div class="media-body">
                    <p>Beer: <a (click)="goToDetail(item.bid)"><strong>{{item.beer_name}}</strong></a></p>
                    <p>Style: <strong>{{item.beer_style}}</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="has">
          <div class="pt-2 mb-1 border-bottom">
            <h1 class="h2">Has</h1>
          </div>
          <div class="row">
            <div *ngFor="let item of has" class="media-width">
              <div class="col-md-12">
                <div class="media"  style="margin: 10px !important">
                  <img class="align-self-start mr-3 img-thumbnail avatar beer-label" src="{{item.beer_label}}">
                  <div class="media-body">
                    <p>Beer: <a (click)="goToDetail(item.bid)"><strong>{{item.beer_name}}</strong></a></p>
                    <p>Style: <strong>{{item.beer_style}}</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="canget">
          <div class="pt-2 mb-1 border-bottom">
            <h1 class="h2">Can Get</h1>
          </div>
          <div class="row">
            <div *ngFor="let item of canget" class="media-width">
              <div class="col-md-12">
                <div class="media"  style="margin: 10px !important">
                  <img class="align-self-start mr-3 img-thumbnail avatar beer-label" src="{{item.beer_label}}">
                  <div class="media-body">
                    <p>Beer: <a (click)="goToDetail(item.bid)"><strong>{{item.beer_name}}</strong></a></p>
                    <p>Style: <strong>{{item.beer_style}}</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="likes">
          <div class="pt-2 mb-1 border-bottom">
            <h1 class="h2" (click)="toggleLikeRow()">Likes</h1>
          </div>
          <div *ngIf="showLikeRow" class="row">
            <div *ngFor="let item of likes" class="media-width">
              <div class="col-md-12">
                <div class="media"  style="margin: 10px !important">
                  <img class="align-self-start mr-3 img-thumbnail avatar beer-label" src="{{item.beer_label}}">
                  <div class="media-body">
                    <p>Beer: <a (click)="goToDetail(item.bid)"><strong>{{item.beer_name}}</strong></a></p>
                    <p>Brewery: <strong>{{item.brewery_name}}</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        </div>
    
    </main>

  </div>
</div>
