<div class="container">

  <h1 class="title">Swap Zone</h1>

  <div class="row justify-content-between">

    <div class="col-md-7" style="margin-bottom: 15px">
      <app-feed></app-feed>
      <div class="row justify-content-center">
        <button type="button" class="col-4 btn btn-lg btn-block blue-ripple" (click)="seeMoreFeed()">See More</button>
      </div>
    </div>

    <div class="col-md-5">

      <aside class="align-right">

        <div class="row">
          <div class="p-4 mb-3 col-12 bg-light rounded">
            <h4 class="font-italic" style="text-align: center"><b>Welcome</b></h4>
            <p class="mb-0">
              <li>Please review out suggestions and guidelines <a>here</a>.</li>
              <li>We do not condone any illegal or illicit activity.</li>
            </p>
          </div>
        </div>

        <div class="row">

          <div class="col-12">
            <h4 class="font-italic" style="text-align: center">Trending Macro Beer</h4>
          </div>

          <div *ngIf="macro" class="p-4 mb-4 col-12 bg-light pointer">
            <div *ngFor="let beer of macro" class="list-unstyled">
              <li (click)="goToDetail(beer.bid)" class="trending-list-item">
                <img src="{{beer.beer_label}}" class="pull-left avatar">
                <div class="ml-3 pull-left fake-a pointer">
                  <div>{{beer.beer_name | slice:0:32}}</div>
                  <div>{{beer.beer_style}}</div>
                </div>
              </li>
            </div>
          </div>

          <div class="col-12">
            <h4 class="font-italic" style="text-align: center">Trending Micro Beer</h4>
          </div>

          <div *ngIf="micro" class="p-4 mb-4 col-12 bg-light pointer">
            <div *ngFor="let beer of micro" class="list-unstyled">
              <li (click)="goToDetail(beer.bid)" class="trending-list-item">
                <img src="{{beer.beer_label}}" class="pull-left avatar">
                <div class="ml-3 pull-left fake-a pointer">
                  <div>{{beer.beer_name | slice:0:32}}</div>
                  <div>{{beer.beer_style}}</div>
                </div>
              </li>
            </div>
          </div>

        </div>

      </aside>

    <div>

  </div>

</div>