<div class="col-md-6">
    <h2 class="text-center">Add Beer</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      
        <div class="form-group">
            <label for="name">Name</label>
            <input type="name" formControlName="name" name="name" class="form-control" id="name" required>
          </div>
      
        <div class="form-group">
          <label for="brewery">Brewery</label>
          <input formControlName="brewery" name="brewery" class="form-control" id="brewery" required>
        </div>
  
        <div class="form-group">
          <label for="ibu">IBU</label>
          <input formControlName="ibu" name="ibu" class="form-control" id="ibu" required>
        </div>
  
        <div class="form-group">
          <label for="abv">ABV</label>
          <input formControlName="abv" name="abv" class="form-control" id="abv" required>
        </div>
  
        <div class="form-group">
          <label for="style">Style</label>
          <input formControlName="style" name="style" class="form-control" id="style" required>
        </div>
  
        <div class="form-group">
          <label for="description">Description</label>
          <input formControlName="description" name="description" class="form-control" id="description" required>
        </div>
  
        <div class="form-group">
          <label for="imageUrl">Image</label>
          <input formControlName="imageUrl" name="imageUrl" class="form-control" id="imageUrl" required>
        </div>
  
      <button class="btn btn-success">Add</button>
    </form>
  </div>
  