<div id="myCarousel" class="carousel slide carousel-fade d-none d-lg-block" data-ride="carousel" data-interval="false">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="bd-placeholder-img align-middle" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
        <img class="darken-image" width="100%" height="100%" src="assets/beer_on_bar.jpg"/>
      </div>
      <div class="container">
        <div class="carousel-caption align-middle">
          <h1>Trade Etiquette</h1>
          <hr>
          <h5>
            Interested in starting to trade beer, but not sure how? We break down a few of our suggestions 
            as well as some guidelines we enforce.
          </h5>
          <br />
          <p class="see-more">
            <a href="#" class="btn btn-secondary" role="button">Read more</a>
          </p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="bd-placeholder-img align-middle" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
        <img class="darken-image" width="100%" height="100%" src="assets/why_ipa_popular.jpg" />
      </div>
      <div class="container">
        <div class="carousel-caption align-middle">
          <h1>Why are IPAs so popular?</h1>
          <hr>
          <h5>
            We sit down with Brian Feagin, an IPA enthusiast, to discuss why IPAs have risen so much in popularity recently.
          </h5>
          <br />
          <p class="see-more">
            <a href="#" class="btn btn-secondary" role="button">Learn More</a>
          </p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="bd-placeholder-img align-middle" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
        <img class="darken-image" width="100%" height="100%" src="assets/craft_beer.jpg"/>
      </div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Do you make your own beer?</h1>
          <hr>
          <h5>
            We'd love to hear about it! We're looking to talk to people who make their own beer. 
            If you're a brewmaster or just started brewing at home, share your story with us. We might even feature it
            on the website if you're cool with it.
          </h5>
          <br />
          <p class="see-more">
            <a href="#" class="btn btn-secondary" role="button">Share</a>
          </p>
        </div>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container" style="padding-top: 20px">

<div class="row mb-2">

  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative home-card">
      <div class="col p-3 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-warning">BHM, AL</strong>
        <h4 class="mb-0">Great Southern Beer Fest</h4>
        <div class="mb-1 text-muted">May 11, 2019</div>
        <p class="mb-auto">We'll be there and you should be too! Bring your 6 packs and meet up!</p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <div class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          <img class="card-image" src="assets/bham_beer_fest.PNG" />
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative home-card">
      <div class="col p-3 d-flex flex-column position-static">
        <p class="d-inline-block mb-2 text-success">NYC, NY</p>
        <h4 class="mb-0">Where The Wild Beers Are</h4>
        <div class="mb-1 text-muted">June 9, 2019</div>
        <p class="mb-auto">Share your favorite sour and wild ales with other like-minded lambic-heads.</p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <div class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          <img class="card-image" src="assets/wild_beers.PNG" />
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row justify-content-between">

  <aside class="col-md-4 blog-sidebar align-right">
  
    <div class="p-4 mb-3 bg-light rounded">
      <h4 class="font-italic">About</h4>
      <p class="mb-0">
        <b>Swap the Hop </b>
        is more than just a website. It's a community bringing passion and enthusiasm together in one place through
        a medium appreciated by everyone. <em>Beer</em>.
      </p>
    </div>

    <div class="p-4">
      <h4 class="font-italic">Connect with us</h4>
      <ol class="list-unstyled">
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
      </ol>
    </div>

    <div class="p-4">
      <h4 class="font-italic">Upcoming Events</h4>
      <ol class="list-unstyled mb-0">
        <li><a href="#">December 2019</a></li>
        <li><a href="#">November 2019</a></li>
        <li><a href="#">October 2019</a></li>
        <li><a href="#">September 2019</a></li>
        <li><a href="#">August 2019</a></li>
        <li><a href="#">July 2019</a></li>
        <li><a href="#">June 2019</a></li>
        <li><a href="#">May 2019</a></li>
        <li><a href="#">April 2019</a></li>
      </ol>
    </div>

    <div class="p-4">
      <h4 class="font-italic">Archives</h4>
      <ol class="list-unstyled mb-0">
        <li><a href="#">March 2019</a></li>
        <li><a href="#">February 2019</a></li>
        <li><a href="#">January 2019</a></li>
        <li><a href="#">December 2018</a></li>
        <li><a href="#">November 2018</a></li>
        <li><a href="#">October 2018</a></li>
        <li><a href="#">September 2018</a></li>
        <li><a href="#">August 2018</a></li>
        <li><a href="#">July 2018</a></li>
        <li><a href="#">June 2018</a></li>
        <li><a href="#">May 2018</a></li>
        <li><a href="#">April 2018</a></li>
      </ol>
    </div>

  </aside>

  <div class="col-md-8">

    <div class="row">
      <div class="col-12">
        <div class="panel panel-white post panel-shadow">
          <div class="post-heading">
            <div class="pull-left image d-none d-xl-block">
              <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
            </div>
            <div class="pull-left meta">
              <div class="title h5">
                <a href="list-user"><b>Caleb Davenport</b></a>
                commented on a swap with <a href="list-user"><b>Brian Feagin</b></a>.
              </div>
              <h6 class="text-muted time">1 minute ago</h6>
            </div>
          </div>
          <div class="post-description">
            <p>
              Brian is a filthy dirty liar and sent me a Session IPA instead of
              the American East Coast-Style he promised. You would think this fool
              would have a palate capa
              <b>...</b>
            </p>
            <div class="stats">
              <a class="btn btn-default stat-item blue-ripple">
                <i class="fa fa-thumbs-up icon"></i>2
              </a>
              <b><a routerLink="comments">Read More</a></b>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="panel panel-white post panel-shadow">
          <div class="post-heading">
            <div class="pull-left image d-none d-xl-block">
              <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
            </div>
            <div class="pull-left meta">
              <div class="title h5">
                <a href="#"><b>Caleb Davenport</b></a>
                added a beer.
              </div>
              <h6 class="text-muted time">3 minutes ago</h6>
            </div>
          </div>
          <div class="post-description" style="text-align: center">
            <p>
              <b>Test Beer</b> - Test Brewery <br>
              IBU: 150 | ABV: 9 | Style: Testy <br>
              Desc: Testy AF, real testy
            </p>
            <div class="stats">
              <a class="btn btn-default stat-item blue-ripple">
                <i class="fa fa-thumbs-up icon"></i>2
              </a>
              <b><a routerLink="brewery">Check it out</a></b>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="panel panel-white post panel-shadow">
          <div class="post-heading">
            <div class="pull-left image d-none d-xl-block">
              <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
            </div>
            <div class="pull-left meta">
              <div class="title h5">
                <a href="#"><b>Caleb Davenport</b></a>
                updated a brewery.
              </div>
              <h6 class="text-muted time">17 minutes ago</h6>
            </div>
          </div>
          <div class="post-description" style="text-align: center">
            <p>
              <b>Test Brewery (updated)</b> <br>
              with the location: <i>Uploading through website</i> <br>
            </p>
            <div class="stats">
              <a class="btn btn-default stat-item blue-ripple">
                <i class="fa fa-thumbs-up icon"></i>12
              </a>
              <b><a routerLink="brewery">Check it out</a></b>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="panel panel-white post panel-shadow">
          <div class="post-heading">
            <div class="pull-left image d-none d-xl-block">
              <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
            </div>
            <div class="pull-left meta">
              <div class="title h5">
                <a href="#"><b>Caleb Davenport</b></a>
                updated a brewery.
              </div>
              <h6 class="text-muted time">17 minutes ago</h6>
            </div>
          </div>
          <div class="post-description" style="text-align: center">
            <p>
              <b>Test Brewery (updated)</b> <br>
              with the location: <i>Uploading through website</i> <br>
            </p>
            <div class="stats">
              <a class="btn btn-default stat-item blue-ripple">
                <i class="fa fa-thumbs-up icon"></i>12
              </a>
              <b><a routerLink="brewery">Check it out</a></b>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="panel panel-white post panel-shadow">
          <div class="post-heading">
            <div class="pull-left image d-none d-xl-block">
              <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
            </div>
            <div class="pull-left meta">
              <div class="title h5">
                <a href="#"><b>Caleb Davenport</b></a>
                updated a brewery.
              </div>
              <h6 class="text-muted time">17 minutes ago</h6>
            </div>
          </div>
          <div class="post-description" style="text-align: center">
            <p>
              <b>Test Brewery (updated)</b> <br>
              with the location: <i>Uploading through website</i> <br>
            </p>
            <div class="stats">
              <a class="btn btn-default stat-item blue-ripple">
                <i class="fa fa-thumbs-up icon"></i>12
              </a>
              <b><a routerLink="brewery">Check it out</a></b>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  

</div>
</div>