<div id="myCarousel" class="carousel slide carousel-fade d-none d-lg-block" data-ride="carousel" data-interval="false">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="bd-placeholder-img align-middle" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
        <img class="darken-image" width="100%" height="100%" src="assets/beer_on_bar.jpg" />
      </div>
      <div class="container">
        <div class="carousel-caption align-middle">
          <h1>Trade Etiquette</h1>
          <hr>
          <h5>
            Interested in starting to trade beer, but not sure how? We break down a few of our suggestions
            as well as some guidelines we enforce.
          </h5>
          <br />
          <p class="see-more">
            <a href="#" class="btn btn-secondary" role="button">Read more</a>
          </p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="bd-placeholder-img align-middle" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
        <img class="darken-image" width="100%" height="100%" src="assets/why_ipa_popular.jpg" />
      </div>
      <div class="container">
        <div class="carousel-caption align-middle">
          <h1>Why are IPAs so popular?</h1>
          <hr>
          <h5>
            We sit down with Brian Feagin, an IPA enthusiast, to discuss why IPAs have risen so much in popularity
            recently.
          </h5>
          <br />
          <p class="see-more">
            <a href="#" class="btn btn-secondary" role="button">Learn More</a>
          </p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="bd-placeholder-img align-middle" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
        <img class="darken-image" width="100%" height="100%" src="assets/craft_beer.jpg" />
      </div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Do you make your own beer?</h1>
          <hr>
          <h5>
            We'd love to hear about it! We're looking to talk to people who make their own beer.
            If you're a brewmaster or just started brewing at home, share your story with us. We might even feature it
            on the website if you're cool with it.
          </h5>
          <br />
          <p class="see-more">
            <a href="#" class="btn btn-secondary" role="button">Share With Us</a>
          </p>
        </div>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container" style="padding-top: 20px">

  <div class="row mb-2">

    <div class="col-md-6">
      <a href="https://www.eventbrite.com/e/great-southern-beer-fest-birmingham-tickets-55578964178/amp">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative home-card">
          <div class="col p-3 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-warning">BHM, AL</strong>
            <h4 class="mb-0" style="color: black !important">Great Southern Beer Fest</h4>
            <div class="mb-1 text-muted">May 11, 2019</div>
            <p class="mb-auto" style="color: black !important">We'll be there and you should be too! Bring your 6 packs and meet up!</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <div class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <img class="card-image" src="assets/bham_beer_fest.PNG" />
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-6">
      <a href="https://wherethewildbeersare.com/">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative home-card">
          <div class="col p-3 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">NYC, NY</strong>
            <h4 class="mb-0" style="color: black !important">Where The Wild Beers Are</h4>
            <div class="mb-1 text-muted">June 9, 2019</div>
            <p class="mb-auto" style="color: black !important">Share your favorite sour and wild ales with other like-minded lambic-heads.</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <div class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <img class="card-image" src="assets/wild_beers.PNG" />
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>

  <div class="row justify-content-between">

    <aside class="col-md-6 blog-sidebar align-right">

      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">
          <b>Swap the Hop </b>
          is more than just a website. It's a community bringing passion and enthusiasm together in one place through
          a medium appreciated by everyone. <em>Beer</em>.
        </p>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Connect with us</h4>
        <ol class="list-unstyled">
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Instagram</a></li>
        </ol>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Upcoming Events</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">December 2019</a></li>
          <li><a href="#">November 2019</a></li>
          <li><a href="#">October 2019</a></li>
          <li><a href="#">September 2019</a></li>
          <li><a href="#">August 2019</a></li>
          <li><a href="#">July 2019</a></li>
          <li><a href="#">June 2019</a></li>
          <li><a href="#">May 2019</a></li>
          <li><a href="#">April 2019</a></li>
        </ol>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2019</a></li>
          <li><a href="#">February 2019</a></li>
          <li><a href="#">January 2019</a></li>
          <li><a href="#">December 2018</a></li>
          <li><a href="#">November 2018</a></li>
          <li><a href="#">October 2018</a></li>
          <li><a href="#">September 2018</a></li>
          <li><a href="#">August 2018</a></li>
          <li><a href="#">July 2018</a></li>
          <li><a href="#">June 2018</a></li>
          <li><a href="#">May 2018</a></li>
          <li><a href="#">April 2018</a></li>
        </ol>
      </div>

    </aside>

    <div class="col-md-6">

      <app-feed (onAdded)="reduceFeed()"></app-feed>

    </div>



  </div>
</div>