<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container">

    <div class="row" style="padding-top: 20px">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="list-user"><b>Caleb Davenport</b></a>
                            commented on a swap with <a href="list-user"><b>Brian Feagin</b></a>.
                        </div>
                        <h6 class="text-muted time">1 minute ago</h6>
                    </div>
                </div> 
                <div class="post-description"> 
                    <p>
                        Brian is a filthy dirty liar and sent me a Session IPA instead of 
                        the American East Coast-Style he promised. You would think this fool
                        would have a palate capa
                        <b>...</b>
                    </p>
                    <div class="stats">
                        <b><a routerLink="comments" class="stat-item">
                            Read More</a></b>
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-up icon"></i>2
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><b>Caleb Davenport</b></a>
                            added a beer.
                        </div>
                        <h6 class="text-muted time">3 minutes ago</h6>
                    </div>
                </div> 
                <div class="post-description" style="text-align: center"> 
                    <p>
                        <b>Test Beer</b> - Test Brewery <br>
                        IBU: 150 | ABV: 9 | Style: Testy <br>
                        Desc: Testy AF, real testy
                    </p>
                    <div class="stats">
                        <b><a routerLink="comments" class="stat-item">
                            Check it out</a></b>
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-up icon"></i>2
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="panel panel-white post panel-shadow">
      <div class="post-heading">
        <div class="pull-left image">
          <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
        </div>
        <div class="pull-left meta">
          <div class="title h5">
            <a href="#"><b>Caleb Davenport</b></a>
            updated a brewery.
          </div>
          <h6 class="text-muted time">17 minutes ago</h6>
        </div>
      </div>
      <div class="post-description" style="text-align: center">
        <p>
          <b>Test Brewery (updated)</b> <br>
          with the location: <i>Uploading through website</i> <br>
        </p>
        <div class="stats">
          <b><a routerLink="brewery" class="stat-item">
              Check it out</a></b>
          <a href="#" class="btn btn-default stat-item">
            <i class="fa fa-thumbs-up icon"></i>12
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="panel panel-white post panel-shadow">
      <div class="post-heading">
        <div class="pull-left image">
          <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
        </div>
        <div class="pull-left meta">
          <div class="title h5">
            <a href="#"><b>Caleb Davenport</b></a>
            updated a brewery.
          </div>
          <h6 class="text-muted time">17 minutes ago</h6>
        </div>
      </div>
      <div class="post-description" style="text-align: center">
        <p>
          <b>Test Brewery (updated)</b> <br>
          with the location: <i>Uploading through website</i> <br>
        </p>
        <div class="stats">
          <b><a routerLink="brewery" class="stat-item">
              Check it out</a></b>
          <a href="#" class="btn btn-default stat-item">
            <i class="fa fa-thumbs-up icon"></i>12
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
    <div class="panel panel-white post panel-shadow">
    <div class="post-heading">
        <div class="pull-left image">
        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
        </div>
        <div class="pull-left meta">
        <div class="title h5">
            <a href="#"><b>Caleb Davenport</b></a>
            updated a brewery.
        </div>
        <h6 class="text-muted time">17 minutes ago</h6>
        </div>
    </div>
    <div class="post-description" style="text-align: center">
        <p>
        <b>Test Brewery (updated)</b> <br>
        with the location: <i>Uploading through website</i> <br>
        </p>
        <div class="stats">
        <b><a routerLink="brewery" class="stat-item">
            Check it out</a></b>
        <a href="#" class="btn btn-default stat-item">
            <i class="fa fa-thumbs-up icon"></i>12
        </a>
        </div>
    </div>
    </div>
</div>

    </div>
</div>