<div class="col-md-12 comment-container">
  <h2 style="margin: auto"> Comments</h2>
  <button class="btn btn-danger" style="width:100px" (click)="addComment()"> Add Comment</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Title</th>
      <th>Body</th>
      <th>Created By</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let comment of comments">
      <td class="hidden">{{comment.id}}</td>
      <td>{{comment.title}}</td>
      <td>{{comment.body}}</td>
      <td>{{comment.created_by}}</td>
      <td><button class="btn btn-success" (click)="deleteComment(comment)"> Delete</button>
        <button class="btn btn-success" (click)="editComment(comment)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>