<div class="col-md-6">
    <h2 class="text-center">Edit Brewery</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="name" formControlName="name" name="name" class="form-control" id="name" required>
      </div>

      <div class="form-group">
        <label for="location">Location</label>
        <input formControlName="location" name="location" class="form-control" id="location" required>
      </div>

      <div class="form-group">
        <label for="website">Website</label>
        <input formControlName="website" name="website" class="form-control" id="website" required>
      </div>

      <div class="form-group">
        <label for="imageUrl">Image</label>
        <input formControlName="imageUrl" name="imageUrl" class="form-control" id="imageUrl" required>
      </div>
  
      <button class="btn btn-success">Update</button>
    </form>
</div>

  <!-- 

    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required />
        <div *ngIf="f.submitted && confirmPassword.invalid" class="invalid-feedback">
            <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>
        </div>
    </div>
    http://jasonwatmore.com/post/2018/11/10/angular-7-template-driven-forms-validation-example
    
   -->